@page

<p id="top">
    <h1>ASP.NET Core WEB page root v2024-07-23</h1>
</p>

<h2>The time on the server is @DateTime.Now</h2>

<ul>
    Links:
    <li>
        <a href="/swagger">Swagger page</a>
    </li>
    <li>
        <a href="/swagger/v1/swagger.json">swagger.json</a>
    </li>
    <!--
    <li>
        <a href="/Test2">Test 2</a>
    </li>
    -->
</ul>

<p><a href="#top">Go to the top</a></p>
